
.component_wrapper{
    margin: 5px 5px 50px 5px;    
    display: flex;
    flex-direction: row;
}

.page_content{
    margin-top: 50px;
    width: 100%;
}

.centred{
    justify-self: unset;
}

.textArea{
    position: relative;
    margin: 20px 0px 20px 0px;
}

.redText {
    color: lightcoral;
}